body.ui-body {
  margin: 0;
  padding: 0;
  border: 0 none;
  overflow: hidden;
  height: 100%;
  min-height: 100%;
  position: static;
}
body.ui-body .layout-absolute {
  position: absolute;
}
body.ui-body .layout-auto {
  position: relative;
  width: 100%;
}
body.ui-body .layout-border-wrapper {
  width: 100%;
  height: 100%;
}
body.ui-body .layout-border {
  position: relative;
  width: 100%;
  height: 100%;
}
body.ui-body .layout-border > div {
  width: 100%;
  height: 100%;
}
body.ui-body .layout-fit {
  position: relative;
  width: 100%;
  height: 100%;
}
body.ui-body .border {
  border: 1px solid #777;
}
body.ui-body .hbox .column {
  float: left;
}
body.ui-body .hbox .column .layout-hbox {
  display: block;
  width: 100%;
  height: 100%;
}
body.ui-body .hbox .column .layout-hbox > * {
  width: 100%;
  height: 100%;
}
body.ui-body .vbox .row {
  width: 100%;
  float: left;
  display: block;
  overflow: hidden;
}
body.ui-body .vbox .row .layout-vbox {
  display: table;
  width: 100%;
  height: 100%;
}
body.ui-body .vbox .row .layout-vbox > * {
  width: 100%;
  height: 100%;
}
body.ui-body fieldset label {
  float: left;
  width: 100%;
}
body.ui-body fieldset label.error {
  color: red;
}
body.ui-body fieldset input {
  float: left;
  width: 100%;
}
body.ui-body fieldset select {
  float: left;
  width: 100%;
}
body.ui-body .hmenu {
  width: 0 !important;
}
body.ui-body .tabs .tab,
body.ui-body .pages .tab,
body.ui-body .tabs .page,
body.ui-body .pages .page {
  width: 100%;
  height: 100%;
}
body.ui-body .tabs .tab .layout-tab,
body.ui-body .pages .tab .layout-tab,
body.ui-body .tabs .page .layout-tab,
body.ui-body .pages .page .layout-tab,
body.ui-body .tabs .tab .layout-page,
body.ui-body .pages .tab .layout-page,
body.ui-body .tabs .page .layout-page,
body.ui-body .pages .page .layout-page {
  width: 100%;
  height: 100%;
}
body.ui-body .multisplit .ms-panel.active {
  border: 1px solid red;
}
body.ui-body .multisplit .ms-panel-horizontal {
  position: relative;
  float: left;
  height: 100%;
}
body.ui-body .multisplit .ms-panel-vertical {
  position: relative;
  float: left;
  width: 100%;
}
body.ui-body .multisplit .ms-panel-content {
  width: 100%;
  height: 100%;
}
.ui-layout-pane {
  padding: 0!important;
  overflow: visible!important;
}
.ui-resizable-handle {
  background: #ccc !important;
}
.ui-resizable-handle:hover {
  background: #0ff !important;
}
.ui-resizable-e {
  width: 3px!important;
  right: -3px !important;
}
.ui-resizable-s {
  height: 3px!important;
  bottom: -3px !important;
}
.ui-layout-north {
  z-index: initial!important;
}
.ui-tabs {
  padding: 0!important;
}
.ui-widget-content {
  border: none!important;
}
.ui-dialog {
  border: 1px solid black!important;
}
