body.ui-body {
	
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: hidden;
	height: 100%;
	min-height: 100%;
	position: static;
	
	.layout-absolute {
		position: absolute;
	}
	
	.layout-auto {
		position: relative;
		width: 100%;
	}
	
	.layout-border-wrapper {
		width: 100%;
		height: 100%;
	}
	
	.layout-border {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.layout-border>div {
		width: 100%;
		height: 100%;
	}
	
	.layout-hbox {
		
	}
	
	.layout-fit {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.border {
		border: 1px solid #777;
	}
	
	.hbox {
		
		.column {
			float: left;
			
			.layout-hbox {
				display: block;
				width: 100%;
				height: 100%;
			}
			
			.layout-hbox>* {
				width: 100%;
				height: 100%;
			}
			
		}
		
	}
	
	.vbox {
		
		.row {
			width: 100%;
			float: left;
			display: block;
			overflow: hidden;
			
			.layout-vbox {
				display: table;
				width: 100%;
				height: 100%;
			}
			
			.layout-vbox>* {
				width: 100%;
				height: 100%;
			}
			
		}
		
	}
	
	fieldset {
		
		label {
			float: left;
			width: 100%;
		}
		
		label.error {
			color: red;
		}
		
		input {
			float: left;
			width: 100%;
		}
		
		select {
			float: left;
			width: 100%;
		}
		
	}
	
	.hmenu {
		width: 0 !important;
	}
	
	.tabs, .pages {
		
		.tab, .page {
			
			width: 100%;
			height: 100%;
			
			.layout-tab, .layout-page {
				
				width: 100%;
				height: 100%;
				
			}
			
		}
		
	}
	
	.multisplit {
		
		.ms-panel.active {
			border: 1px solid red;
		}
		
		.ms-panel-horizontal {
			position: relative;
			float: left;
			height: 100%;
		}
		
		.ms-panel-vertical {
			position: relative;
			float: left;
			width: 100%;
		}
		
		.ms-panel-content {
			width: 100%;
			height: 100%;
		}
		
	}
	
}

.ui-layout-pane {
	padding: 0!important;
	overflow: visible!important;
}

.ui-resizable-handle {
	background: #ccc !important;
}

.ui-resizable-handle:hover {
	background: #0ff !important;
}

.ui-resizable-e {
	width: 3px!important;
	right: -3px!important;
}

.ui-resizable-s {
	height: 3px!important;
	bottom: -3px!important;
}

.ui-layout-north {
	z-index: initial!important;
}

.ui-tabs {
	padding: 0!important;
}

.ui-widget-content {
	border: none!important;
}

.ui-dialog {
	border: 1px solid black!important;	
}